@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Sales</h1><h2> Sales Management and Team Evaluation System</h2>
    <p class="lead">Record Sales, Create Custom Reports</p>
</div>

